<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comcom.tencent.shadow.test.hostapp.test">

    <!-- Multi-Process Espresso only works on API level 26 and above-->
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="28" />

    <!--
      This custom androidTest/AndroidManifest.xml is required because the current Gradle DSL
      doesn't support the ability to define the new "targetProcesses" Instrumentation attribute and
      to define custom "meta-data" tags that are required in this case.
    -->

    <instrumentation
        android:name="com.tencent.shadow.test.CustomAndroidJUnitRunner"
        android:targetPackage="com.tencent.shadow.test.hostapp">
        <!-- 不设置targetProcesses为*是因为.plugin_service进程在PluginServiceConnectionTest中会被kill掉 -->

    </instrumentation>
</manifest>
